* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	background-color: rgb(53, 76, 209);
	padding: 20px;
}

ul {
	display: flex;
	align-items: center;
	justify-content: center;
}

li {
	list-style: none;
	font-size: 30px;
	margin-left: 40px;
}

button {
	cursor: pointer;
	background-color: #fff;
	border-radius: 8px;
	padding: 5px;
}

a {
	color: rgb(13, 1, 1);
	text-decoration: none;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}